.mainlist {
  padding: 30px;
}
.inputlist {
  background: rgb(0, 255, 162);
  margin: 10px;
  width: 300px;
  padding: 10px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.para {
  width: 200px;
  word-wrap: break-word;
}
.trash {
  position: absolute;
  right: 10px;
  color: red;
  cursor: pointer;
}
